// Generic Styling

// Resets
body {
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}

// Container Helper
.container {
  max-width: 1180px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 1800px;
  margin: 0 auto;
}

// Grid Helper
.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


// Vue Notifications
.vue-notification-group {
  display: block;
  position: fixed;
  z-index: 5000;
}
.vue-notification-wrapper {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
.notification-title {
  font-weight: 600;
}
.vue-notification-template {
  display: block;
  box-sizing: border-box;
  background: white;
  text-align: left;
}
.vue-notification {
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 12px;
  padding: 10px;
  margin: 1rem 1rem 5px;
  color: white;
  background: var(--c-primary);
  border-left: 5px solid var(--c-primary);
}
.vue-notification.warn {
  background: #ffb648;
  border-left-color: #f48a06;
}
.vue-notification.error {
  background: #E54D42;
  border-left-color: #B82E24;
}
.vue-notification.success {
  background: var(--c-primary);
  border-left-color: var(--c-primary-variant);
}
.vn-fade-enter-active, .vn-fade-leave-active, .vn-fade-move  {
  transition: all .5s;
}
.vn-fade-enter, .vn-fade-leave-to {
  opacity: 0;
}
