// Generic Styling

// Resets
body {
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}

// Container Helper
.container {
  max-width: 1180px;
  margin: 4rem auto;
}

// Grid Helper
.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
